{% extends 'type.html' %}

{% block Alldiv1 %}
<div style="text-align: center;line-height: 55.5px">
{% endblock %}


{% block key %}
    <p style="color: #03e9f4;: 0;">秘钥：<input class="inp" style="height: 40px;color: black" type="text" name="cyber1" placeholder="字母或数字"></p>
    <p style="color: #03e9f4;: 0;">秘钥：<input class="inp" style="height: 40px;color: black" type="text" name="cyber2" placeholder="字母或数字"></p>
    <p style="color: #03e9f4;: 0;">秘钥：<input class="inp" style="height: 40px;color: black" type="text" name="cyber3" placeholder="字母或数字"></p>
{% endblock %}
{% block Alldiv2 %}
</div>
{% endblock %}
