{% extends 'type.html' %}

{% block Alldiv1 %}
<div style="text-align: center;line-height: 45.5px">
{% endblock %}

{% block key %}
    <p style="color: #03e9f4;: 0;">公钥p：<input class="inp" style="height: 40px;color:black" type="text" name="p" value="{{ p }}"> </p>
    <p style="color: #03e9f4;: 0;">公钥a：<input class="inp" style="height: 40px;color:black" type="text" name="a" value="{{ a }}"></p>
    <p style="color: #03e9f4;: 0;">公钥y：<input class="inp" style="height: 40px;color:black" type="text" name="y" value="{{ y }}"></p>
    <p style="color: #03e9f4;: 0;">随机k：<input class="inp" style="height: 40px;color:black" type="text" name="k" value="{{ k }}"></p>
    <p style="color: #03e9f4;: 0;">私钥：<input class="inp" style="height: 40px;color:black" type="text" name="d" value="{{ d }}"></p>
{% endblock %}
{% block Alldiv2 %}
</div>
{% endblock %}

{% block kk %}
    <script>
        $(".gif1").css("display","none");

    </script>
{% endblock %}


