<!DOCTYPE html>
<html lang="en"  class="no-ie" style="overflow: hidden;overflow-x: hidden;overflow-y: hidden">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>加密传输</title>
    <style>
        .but{
             padding: 10px 20px;
            background-color: #007aff;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            cursor: pointer;
            transition: background-color 0.2s ease;
            text-decoration: none;
        }

    </style>
</head>
<body style="background-image: linear-gradient(-90deg, #0140DF, #C20044);overflow-y: hidden;margin: auto;text-align: center;">

<div style="padding-top: 30vh">
    <div style="width: 25%;height: 220px;background-image: linear-gradient(-90deg, #0140DF, #C20044);margin: auto auto;border:2px solid #03e9f4;border-radius: 10px">
            <p style="color:#03e9f4;padding-top: 40px;font-size: 30px">
                发送成功
            </p>
            <div style="padding-top: 20px">
                 <a href="/import/" class="but" >确认</a>
            </div>

        </div>
</div>


</body>
</html>
